*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
.DS_Store
*.filters
*.vcxproj
*.dir
*.sln
Release
Debug
x64
*.cmake
CMakeFiles
zconf.h