Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
*.o
*.lo
*.deps
*.libs
*.Plo
*.Po
*.la
*.so
*.dylib
.DS_Store
*.project
*.cproject
CMakeFiles
*.cmake
Makefile
*.a
/IlmBase/Half/eLut
/IlmBase/Half/eLut.h
/IlmBase/Half/toFloat
/IlmBase/Half/toFloat.h
/OpenEXR/IlmImf/b44ExpLogTable.h
/OpenEXR/IlmImf/dwaLookups.h
*.filters
*.vcxproj
*.dir
*.sln
Release
Debug
x64
build
.ninja_deps
.ninja_log
build.ninja
rules.ninja
